<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
<div th:fragment="content">
	<h3 class="page-title">Login</h3>

    <form name='f' action="perform_login" method='POST'>
            <p>
                <label for="user">Appspot</label>
                <input class="form-control" type='text' name='username' value=''>
            </p>
            <p>
                <label for="password">Password</label>
                <input type='password' class="form-control" name='password'/>
            </p>
            <p>
                <input class="btn btn-primary" name="submit" type="submit" value="Enter"/>
            </p>
    </form>
</div>

</body>

</html>