<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
<div th:fragment="content">
	<form method="POST" th:object="${app}">
		<p>
			<label for="personName">Your name</label>
			<input class="form-control" id="personName" type="text" th:field="*{ownerName}" placeholder="Who are you?"/>
		</p>
		<p>
			<label for="appspot">Appspot</label>
			<input class="form-control" id="appspot" type="text" th:field="*{appspot}" placeholder="Your appspot from Google"/>
		</p>
		<p>
			<label for="password">Password</label>
			<input class="form-control" id="password" type="password" th:field="*{password}" placeholder="Password to access your app info"/>
		</p>
		<p>
			<label for="password">Password confirmation</label>
			<input class="form-control" id="passwordConfirmation" type="password" th:field="*{passwordConfirmation}" placeholder="Confirm your password"/>
		</p>
		<p>
			<input class="btn btn-primary" type="submit" value="Register"/>
			<button type="reset" class="btn btn-warning">Reset</button>
		</p>
	</form>
</div>

</body>

</html>