<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout_public :: page">

<body>
<div th:fragment="content">

<h3 class="page-title">Explore</h3>

<div class="card-columns">

  <div class="card" th:each="app : ${apps}">
    <!--  <img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">
      	<a th:href="@{/explore/{appspot}(appspot=${app.appspot.appspotName})}" th:text="${app.appName}"></a>
      </h5>
      <p class="card-text" th:text="${app.appDescription}"></p>
      <p class="card-text"><small class="text-muted" th:text="${app.ownerName}"/></small></p>
    </div>
      <div class="card-footer">
      	<small class="text-muted">
      		<span th:text="${app.appspot.appspotName} + '.appspot.com'"></span>
      	</small>
   	  </div>
  </div>
  
</div>
</div>

</body>

</html>