<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
<div th:fragment="content">
	<form method="POST" th:object="${appRegistration}">
		<fieldset>
			<legend>About you</legend>
			<p>
				<label for="appspot">Appspot</label>
				<input id="appspot" type="text" th:field="*{appspot}" placeholder="Your appspot from Google"/>
			</p>
			<p>
				<label for="personName">Your name</label>
				<input id="personName" type="text" th:field="*{ownerName}" placeholder="Who are you?"/>
			</p>
			<p>
				<input type="submit" value="Enviar"/>
			</p>
		</fieldset>
		<fieldset>
			<legend>About your service</legend>
		</fieldset>
	</form>
</div>

</body>

</html>