<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
<div th:fragment="content">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" th:text="${app.appName}"></h1>
    <p th:text="${app.appspot.appspotName}+'.appspot.com'"></p>
    <p class="lead" th:text="${app.appDescription}"></p>
    
    <p>by <span th:text="${app.ownerName}"></span></p>
  </div>
</div>

<div class="row">
	
	<div class="col-sm-3">
		<h4>Google Services used</h4>
		<p th:if="${#lists.size(app.googleServiceUse) == 0}">No Google Services used.</p>
		
		<ul th:if="${#lists.size(app.googleServiceUse) > 0}">
			<li 
				th:each="gservuse : ${app.googleServiceUse}"
				th:text="${(gservuse.googleService).description()}"
				></li>
		</ul>
		
	</div>
	
	<div class="col-sm-9">	
		<h4>Provided services</h4>
		<p th:if="${#lists.size(app.services) == 0}">No provided services yet.</p>
		<div id="accordion" th:if="${#lists.size(app.services) > 0}">
		  <div class="card" th:each="service : ${app.services}">
		    <div class="card-header" id="headingOne">
		      <h5 class="mb-0">
		      	<span class="badge badge-secondary" th:text="${service.httpVerb}"></span>
		        <button class="btn btn-link" data-toggle="collapse" 
		        th:attr="data-target='#service'+${service.id}" aria-expanded="true" >
		       	<span th:text="${service.serviceName}"></span>
		        </button>
		      </h5>
		    </div>
		    <div th:attr="id='service'+${service.id}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
		      <div class="card-body">
		      	
		      	<h5>Path</h5>
	      		<p class="accessPath" style="font-family:'Courier new'" th:text="${service.accessPath}"></p>
		      
		      	<h5>Description</h5>
		      	<p th:text="${service.serviceDescription}"></p>
		      
		      	<h5>Parameters</h5>
		      	<p th:if="${#lists.size(service.serviceParameters) == 0}">No parameters are required.</p>
		      	<table class="table" th:if="${#lists.size(service.serviceParameters) > 0}">
		      		<thead>
		      			<tr>
		      				<th>Name</th>
		      				<th>Type</th>
							<th>Scope</th>
		      				<th>Description</th>
		      			</tr>
		      		</thead>
		      		<tbody>
		      			<tr th:each="parameter : ${service.serviceParameters}">
		      				<td th:text="${parameter.parameterName}"/>
		 				    <td th:text="${parameter.parameterType}"/>
							<td th:text="${parameter.parameterScope}"/>
		 				    <td th:text="${parameter.description}"/>
		      			</tr>
		      		</tbody>
		      	</table>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
</div>

<script type="text/javascript">

$(document).ready(function(){
	$('.accessPath').each(function(i,t){
		var content = $(t).html();
		content=content.replace(/{(.*?)}/g, "<strong>{</strong><font color='green'>$1</font><strong>}</strong>");
		$(t).html(content);
	});
});

</script>

</div>



</body>

</html>