<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
<div th:fragment="content">


<ul style="margin:10px 0px;color:white" class="nav justify-content-end">
	<li class="nav-item">
		<a class="nav-link btn btn-primary" role="button" 
		href="/services/new">
			New service
		</a>
	</li>
</ul>


<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Route</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Test
			</td>
			<td>
				test/test/
			</td>
			<td>  
				<a href="#"><span class="fa fa-pencil-alt"></span></a>
				<a href="#"><span class="fa fa-trash"></span></a>
			</td>
		</tr>	
	</tbody>


</table>

</div>

</body>

</html>