<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page">

<body>
<div th:fragment="content">

<form id="rankingSince" method="GET">

	<div class="form-row align-items-center">

		<div class="col-auto">
			<label for="since">Since</label>
		</div>

		<div class="col-auto">
			<div class="input-group mb-2">
				<input class="form-control" id="since" type="datetime-local" name="since"/>
			</div>
		</div>
		
		<div class="col-auto">
			<button id="btnSubmitSince" class="btn btn-primary mb-2" type="button">Filter</button>
		</div>
		
	</div>
</form>

<div class="table-responsive">
		<table class="table ranking" id="ranking">
	
			<thead>
				<tr>
					<th>#</th>
					<th>App name</th>
					<th>Owner</th>
					<th>GS</th>
					<th>As server</th>
					<th>As client</th>
					<th>Score</th>
					<th>&Delta;</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td class="position"><span>1</span></td>
					<td>App test 1</td>
					<td>João</td>
					<td>2</td>
					<td>0</td>
					<td>1</td>
					<td>5.0</td>
					<td><span class="positive">+1</span></td>
				</tr>
				<tr>
					<td class="position"><span>2</span></td>
					<td>App test 2</td>
					<td>João2</td>
					<td>1</td>
					<td>0</td>
					<td>1</td>
					<td>4.0</td>
					<td><span class="negative">-2</span></td>
				</tr>
			</tbody>
		
		</table>
	</div>

    <script>
    
    	var evtSource = new EventSource("/ranking/realTime");
    
    	$('#btnSubmitSince').click(function(){
    		var datetime = $("#since").val();
    		var path = "/ranking/realTime?since="+datetime;
    		evtSource = new EventSource(path);
    	});
    
        var previousRanking = {};
        
        evtSource.onmessage = function(e) {
                    	
            var tableJSON = $.parseJSON(e.data);
            
            // gather
            var table = $("#ranking tbody");
            
            // clear
            table.find("tr").remove();
            
            // fill
            $.each(tableJSON.rankedApplications, function(index, element){
            	var position = element.rankPosition;
            	var appspot = element.appspot;
            	var appName = element.appName;
            	var ownerName = element.ownerName;
            	var gscount = element.usedGoogleServicesCount;
            	var intAsClient = element.integrationCountAsClient;
            	var intAsServer = element.integrationCountAsServer;
            	var score = element.score;
            	
            	if (!(appspot in previousRanking))
            		previousRanking[appspot] = position;
            		
            	var markup = 
            		"<tr>"+
            			"<td class='position'><span>" + position + "</span></td>"+
            			"<td>" + appName + "</td>"+
            			"<td>" + ownerName + "</td>"+
            			"<td>" + gscount + "</td>"+
            			"<td>" + intAsClient + "</td>"+
            			"<td>" + intAsServer + "</td>"+
            			"<td>" + score + "</td>";
            	
            	var delta = (previousRanking[appspot] - position);
            	
            	if (delta > 0)
            		markup += "<td>" + "<span class='positive'>+" + delta + "</span></td>";
           		else if (delta < 0)
            		markup += "<td><span class='negative'>" + delta + "</span></td>";
            	else 
             		markup += "<td>_</td>";

            	markup += "</tr>";
            		
            	table.append(markup);
            	
            	previousRanking[appspot] = position; 
            });            
        }        
        
    </script>

</div>
</body>

</html>